<div class="main-dashboard-area">
  <div class="dashboard-left">
    <app-left-sidebar></app-left-sidebar>
  </div>
  <div class="dashboard-right">
    <div class="dashboard-right-head">
      <div class="dashboard-right-head-left">
        <div class="">
          <h1>All Plans <small>({{dataService.plansList.total_records || 0}})</small></h1>
        </div>
      </div>
      <div class="dashboard-right-head-right">
        <div class="search-wrapper">
          <div class="search-container">
            <input type="text" placeholder="Search here.." name="search" class="form-control" spellcheck="true"
              [(ngModel)]="stats.plansList.fieldText" (keydown.enter)="onSearch()">
            <button type="submit">
              <div class="d-block spinner-border text-light" role="status" *ngIf="dataService.isLoading">
                <span class="visually-hidden">Loading...</span>
              </div>
              <i class="fa-solid fa-magnifying-glass" *ngIf="!dataService.isLoading && !stats.plansList.isSearched"
                (click)="onSearch()"></i>
              <i class="fa-regular fa-circle-xmark" *ngIf="!dataService.isLoading && stats.plansList.isSearched"
                (click)="clearSearch()"></i>
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-primary" routerLink="./add-plan">
          Add New Plan
        </button>
        <button type="submit" class="filter-btn" data-bs-toggle="offcanvas" data-bs-target="#filterOptions"
          aria-controls="filterOptions" data-bs-title="Click for Filter" appTooltip (click)="getFilterFields()">
          <i class="fa-solid fa-filter"></i><span class="active" *ngIf="filterApplied"></span>
        </button>
      </div>
    </div>
    <div class="dashboard-content">
      <div class="tabs-listing-area">
        <div class="tabs-listing">
          <div class="text-center" *ngIf="!dataService.isLoading && !dataService?.plansList.plans?.length">Data
            not
            found.</div>
          <div class="row" *ngIf="dataService.isLoading && !dataService?.plansList.plans?.length">
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let item of dataService.placeholderItems">
              <app-placeholder-tab></app-placeholder-tab>
            </div>
          </div>
          <div class="row" *ngIf="dataService?.plansList.plans?.length">
            <div class="col-lg-4 col-md-6 col-12" *ngFor="let item of dataService.plansList.plans">
              <app-plan-tab [item]="item"></app-plan-tab>
            </div>
          </div>
          <button [disabled]="dataService.isLoading"
            *ngIf="dataService?.plansList.plans?.length && (dataService.plansList.page != dataService.plansList.total_page)"
            class="btn btn-primary btn-p d-flex align-items-center gap-2 m-auto"
            (click)="dataService.fetchData(dataService.plansList.page + 1,dataService.httpService.getPlansApi, 'plans', 'plansList')">Load
            More <div class="spinner-border text-light" role="status" *ngIf="dataService.isLoading">
              <span class="visually-hidden">Loading...</span>
            </div></button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Filter -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="filterOptions"
  aria-labelledby="filterOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="filterOptionsLabel">Filter Options</h5>
    <button id="closeFilter" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="filter-area">
      <div class="mb-3">
        <label>Active Status</label>
        <select class="form-select" [(ngModel)]="pageFilter.status">
          <option value="">Select Here</option>
          <option value="Active">Active</option>
          <option value="Blocked">Blocked</option>
        </select>
      </div>
      <div class="mb-3">
        <label>Visibility</label>
        <select class="form-select" [(ngModel)]="pageFilter.visibility_type">
          <option value="">Select Here</option>
          <option value="Public">Public</option>
          <option value="Private">Private</option>
        </select>
      </div>
      <div class="mb-3">
        <label>Uploaded By</label>
        <select class="form-select" [(ngModel)]="pageFilter.uploaded_by">
          <option value="">Select Here</option>
          <option value="Admin">Admin</option>
          <option value="Coach">Coaches</option>
        </select>
      </div>
      <div class="mb-3"><label>Organizatios</label>
        <select class="form-select" [(ngModel)]="pageFilter.organization_id">
          <option value="">Select Here</option>
          <option *ngFor="let item of dataService.organizationsDropdown" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <div class="mb-3" *ngIf="dataService.isAdminUser"><label>Coaches</label>
        <select class="form-select" [(ngModel)]="pageFilter.coach_id">
          <option value="">Select Here</option>
          <option *ngFor="let item of this.dataService.coachesDropdown" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <button class="btn btn-primary w-100 mb-2" (click)="onSearch()">Filter</button>
      <button class="btn btn-danger w-100" (click)="clearSearch()" *ngIf="filterApplied">Clear</button>
    </div>
  </div>
</div>