<div class="main-form-area">
  <div class="backIcon"><a href="javascript:history.back()"><i class="fa-solid fa-arrow-left"></i></a>
  </div>
  <div class="login-forms">
    <div class="logo">
      <img src="../../assets/images/logo.svg" class="img-fluid" />
    </div>
    <h5 class="text-center mb-4">Forgot Password</h5>
    <form class="row g-3" [formGroup]="forgotForm">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <div class="icon-field">
          <input type="email" class="form-control" id="inputName" placeholder="Enter Email" formControlName="email" />
          <div class="field-icon">
            <img src="../../assets/images/message-icon.svg" />
          </div>
        </div>
        <div class="text-start text-danger mt-1" style="font-size: 14px" *ngIf="errorInvalid && f.email?.errors">
          Required Field
        </div>
      </div>
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-primary w-100 d-flex justify-content-center align-items-center gap-2"
          [disabled]="dataService.isLoading" (click)="submitForm()">
          Send Email <div class="spinner-border text-light" role="status" *ngIf="dataService.isLoading">
            <span class="visually-hidden">Loading...</span>
          </div>
        </button>
      </div>
      <div class="col-12 mb-3">
        <div class="text-center">
          <a class=" text-primary" routerLink="/login"><i class="fa-solid fa-chevron-left"></i> Back to
            Login</a>
        </div>
      </div>
    </form>
  </div>
</div>