.workout-build-area {
  display: flex;
  align-items: self-start;
}

.workout-bild-left {
  width: 47%;
  border: 1px solid #f0f0f0;
  height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.workout-bild-left-top {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 9;
  height: 65px;
}

.workout-build-bottom {
  background: #fff;
  padding: 10px;
  position: sticky;
  bottom: 0;
  z-index: 9;
  margin-top: auto;
}

button.btn.btn-danger.del {
  width: 40px;
}

button.btn.btn-danger.del i.fa-solid.fa-trash-can {
  color: #fff;
}

.workout-bild-left-tablist {
  padding: 10px;
}

.workout-list-tab-area {
  margin-bottom: 10px;
}

.workout-list-tab {
  display: flex;
  align-items: center;
  gap: 10px;
}

.workout-list-tab-img {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #c4c4c4;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.workout-list-tab {
  display: flex;
  align-items: start;
  background: #ffffff;
  border: 1px solid rgba(55, 27, 52, 0.04);
  border-radius: 10px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.16));
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.workout-list-tab h6 {
  font-size: 12px;
  color: #000;
  margin: 0;
  max-width: 140px;
}

.workout-list-tab-area {
  display: flex;
  align-items: center;
  gap: 5px;
}

.workout-list-tab-duration {
  display: flex;
  align-items: start;
  gap: 5px;
  margin-left: auto;
}

.workout-list-tab-duration select {
  font-size: 12px;
  padding: 10px;
}

select.conditional {
  width: 95px;
}

.duration {
  display: flex;
  gap: 5px;
  align-items: start;
}

.duration-time .duration:not(:last-child) {
  margin-bottom: 5px;
}

.workout-list-tab-duration .form-check {
  margin-top: 10px;
}

.workout-list-tab.stag,
.workout-list-tab.stag .duration,
.workout-list-tab.stag .workout-list-tab-duration {
  align-items: start;
}

.duration select {
  width: 57px;
  padding: 6px;
  text-align: center;
}

.workout-list-tab-area.rest .workout-list-tab-img {
  background: #fc4d1f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.workout-bild-right {
  width: 100%;
  border: 1px solid #f0f0f0;
  height: calc(100vh - 120px);
  overflow-x: hidden;
  overflow-y: auto;
}

.workout-bild-right-top {
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 9;
  height: 65px;
}

.search-filter {
  position: relative;
}

.tagfilter {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

.search-filter .search-container input {
  width: 100%;
  padding-left: 165px;
}

.tagfilter select.form-select {
  width: 150px;
  font-size: 12px;
  background-color: #fff;
}

.workout-videos {
  padding: 10px;
}

.workout-list-tab.disabled {
  background: #e7e7e7;
  pointer-events: none;
}

.indication i.fa-solid.fa-plus {
  background: #fc4d1f;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  position: relative;
  z-index: 1;
  transform: scale(1);
}

.indication i.fa-solid.fa-plus:active {
  transform: scale(0.8);
}

.workout-list-tab.clicked {
  background: #fc4d1f;
}

.workout-list-tab.clicked h6 {
  color: #fff;
}

.drag-handle {
  cursor: grab;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.drag-handle img {
  width: 50px;
  height: auto;
  margin-right: 15px;
}

.sortable-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.multi-rep div:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (max-width:1280px) {
  .workout-list-tab {
    flex-wrap: wrap;
    justify-content: space-between;

    h6 {
      max-width: 110px;
    }
  }

  .workout-list-tab-duration {
    order: 3;
  }

  .workout-list-tab.rest span.handle {
    order: 3;
  }
}

@media screen and (max-width:991px) {
  .workout-list-tab h6 {
    max-width: 100%;
  }
}