.g-tab {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  border-radius: 10px;
  text-align: left;
  background: #ffffff;
  border: 1px solid rgba(55, 27, 52, .04);
  border-radius: 10px;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, .16));
  margin-bottom: 15px;
  min-height: 80px;
}

.g-tab-img {
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fc4d1f;
  position: relative;
  background: #000;
}

.g-tab-img img {
  height: 100%;
  width: 100%;
  opacity: 0.8;
}

.g-tab-img i.fa-solid.fa-play {
  position: absolute;
  color: #ffffff;
}

.g-tab-text {
  font-size: 10px;
  margin: 0 5px;
  overflow: hidden;
}

.g-tab-text span.text-gray {
  word-break: break-word;
}

.g-tab-action {
  margin-left: auto;
}

.g-tab-action button.btn {
  font-size: 12px;
  min-height: auto;
}

.coach-info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.coach-info-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #b5b5b5;
}

.g-tab-text h6 small {
  font-size: 10px;
  font-weight: normal;
}
