<div class="main-dashboard-area">
    <div class="dashboard-left">
        <app-left-sidebar></app-left-sidebar>
    </div>
    <div class="dashboard-right">
        <div class="dashboard-right-head">
            <div class="dashboard-right-head-left">
                <div class="">
                    <h1>All Employees <small>({{dataService.employeesList.total_records || 0}})</small></h1>
                </div>
            </div>
            <div class="dashboard-right-head-right">
                <div class="search-wrapper">
                    <div class="search-container">
                        <input type="text" placeholder="Search here.." name="search" class="form-control"
                            spellcheck="true" [(ngModel)]="dataService.stats.employeesList.fieldText"
                            (keydown.enter)="onSearch()">
                        <button type="submit">
                            <div class="d-block spinner-border text-light" role="status" *ngIf="dataService.isLoading">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                            <i class="fa-solid fa-magnifying-glass"
                                *ngIf="!dataService.isLoading && !dataService.stats.employeesList.isSearched"
                                (click)="onSearch()"></i>
                            <i class="fa-regular fa-circle-xmark"
                                *ngIf="!dataService.isLoading && dataService.stats.employeesList.isSearched"
                                (click)="clearSearch()"></i>
                        </button>
                    </div>
                </div>
                <button type="submit" class="filter-btn" data-bs-toggle="offcanvas" data-bs-target="#filterOptions"
                    aria-controls="filterOptions" data-bs-title="Click for Filter" appTooltip
                    (click)="getFilterFields()">
                    <i class="fa-solid fa-filter"></i><span class="active" *ngIf="filterApplied"></span>
                </button>
            </div>
        </div>
        <div class="dashboard-content">
            <div class="tabs-listing-area">
                <div class="tabs-listing">
                    <div class="text-center"
                        *ngIf="!dataService.isLoading && !dataService?.employeesList?.employees?.length">Data
                        not
                        found.</div>
                    <div class="row" *ngIf="dataService.isLoading && !dataService?.employeesList?.employees?.length">
                        <div class="col-lg-4 col-md-6 col-12" *ngFor="let item of dataService.placeholderItems">
                            <app-placeholder-tab></app-placeholder-tab>
                        </div>
                    </div>
                    <div class="row" *ngIf="dataService?.employeesList?.employees?.length">
                        <div class="col-lg-4 col-md-6 col-12" *ngFor="let item of dataService.employeesList.employees">
                            <app-client-tab [item]="item" [showAssign]=true></app-client-tab>
                        </div>
                    </div>
                    <button [disabled]="dataService.isLoading"
                        *ngIf="dataService?.employeesList?.employees?.length && (dataService.employeesList.page != dataService.employeesList.total_page)"
                        class="btn btn-primary btn-p d-flex align-items-center gap-2 m-auto"
                        (click)="dataService.fetchData(dataService.employeesList.page + 1,dataService.httpService.getEmployeesApi, 'employees', 'employeesList','','&user_type=Employee')">Load
                        More <div class="spinner-border text-light" role="status" *ngIf="dataService.isLoading">
                            <span class="visually-hidden">Loading...</span>
                        </div></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Filter -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="filterOptions"
    aria-labelledby="filterOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="filterOptionsLabel">Filter Options</h5>
        <button id="closeFilter" type="button" class="btn-close" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="filter-area">
            <div class="mb-3"><label>Sinup Status <span class="users-info f-info"><i
                            class="fa-solid fa-circle-info"></i>
                        <div class="full-length f-info-text">If the client status is <strong>"Signup"</strong> it
                            means that
                            clients are login and setted password. However, if the clients status is
                            <strong>"Not Signup"</strong> it indicates that that clients are not login yet.
                        </div>
                    </span></label>
                <select class="form-select" [(ngModel)]="pageFilter.signup_status">
                    <option value="">All</option>
                    <option value="Signup">Signup</option>
                    <option value="Not Signup">Not Signup</option>
                </select>
            </div>
            <div class="mb-3" *ngIf="dataService.currentUserData.role == 'Admin'">
                <label>Status</label>
                <select class="form-select" [(ngModel)]="pageFilter.status">
                    <option value="">Select Here</option>
                    <option value="Active">Active</option>
                    <option value="Blocked">Blocked</option>
                </select>
            </div>
            <div class="mb-3" *ngIf="dataService.currentUserData.role == 'Admin'">
                <label>Coach Assign Status</label>
                <select class="form-select" [(ngModel)]="pageFilter.assignment_status">
                    <option value="">Select Here</option>
                    <option value="Assigned">Assigned</option>
                    <option value="Not Assigned">Not Assigned</option>
                </select>
            </div>
            <div class="mb-3"><label>Plans</label>
                <select class="form-select" [(ngModel)]="pageFilter.plan_id">
                    <option value="">Select Here</option>
                    <option *ngFor="let item of dataService?.plansDropdown" [value]="item.id">{{item.title}}</option>
                </select>
            </div>
            <div class="mb-3"><label>Organization</label>
                <select class="form-select" [(ngModel)]="pageFilter.organization_id">
                    <option value="">Select Here</option>
                    <option *ngFor="let item of dataService?.organizationsDropdown" [value]="item.id">{{item.name}}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label>Departments</label>
                <select class="form-select" [(ngModel)]="pageFilter.department">
                    <option value="">Select Here</option>
                    <option *ngFor="let department of getDepartments()" [value]="department?.id || department">
                        {{ department?.name || department }}
                    </option>

                </select>
            </div>
            <button class="btn btn-primary w-100 mb-2" (click)="onSearch()">Filter</button>
            <button class="btn btn-danger w-100" (click)="clearSearch()" *ngIf="filterApplied">Clear</button>
        </div>
    </div>
</div>